<html>
<head>
    <title>Sudoko Solver</title>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="/static/style.css">

    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/css/bootstrap.min.css"
            rel="stylesheet"
            integrity="sha384-EVSTQN3/azprG1Anm3QDgpJLIm9Nao0Yz1ztcQTwFspd3yD65VohhpuuCOmLASjC"
            crossorigin="anonymous">
    <script src="https://code.jquery.com/jquery-3.6.0.slim.min.js" 
            integrity="sha256-u7e5khyithlIdTpu22PHhENmPcRdFiHRjhAuHcs05RI="
            crossorigin="anonymous"></script>
</head>

<body class="hacker">

    <div class="container">
        <div class="logo">SUDOKU-SOLVER</div>
    </div>

    <br/>

{{ if .Sudoku }}
    <div class="container">
        <ul class="nav nav-pills justify-content-center">
            <li class="nav-item">
              <button class="nav-link active" id="original-tab" data-bs-toggle="tab" data-bs-target="#original" type="button" role="tab" aria-controls="original" aria-selected="true">Original</a>
            </li>
            <li class="nav-item">
              <button class="nav-link" id="solution-tab" data-bs-toggle="tab" data-bs-target="#solution" type="button" role="tab" aria-controls="solution" aria-selected="false">Solution</a>
            </li>
        </ul>
        <div class="tab-content">
            <div class="tab-pane active sudoku" id="original" role="tabpanel">
{{ .Sudoku }}
            </div>
            <div class="tab-pane sudoku" id="solution" role="tabpanel">
{{ .Solution }}
            </div>
        </div>
    </div>
{{ end }}

    <div class="container">
        <div class="error">{{ .Error }}</div>
    </div>

    <br/>

    <div class="container">
        <form id="upload" action="/" method="POST" enctype="multipart/form-data">
            <label class="btn btn-primary">
                Upload&hellip; <input name="file" type="file" style="display: none;" accept="image/*">
            </label>
        </form>
    </div>

    <script>
        $(function() {
          $(document).on('change', ':file', function() {
            var input = $(this),
                numFiles = input.get(0).files ? input.get(0).files.length : 1,
                label = input.val().replace(/\\/g, '/').replace(/.*\//, '');
            input.trigger('fileselect', [numFiles, label]);
          });
    
          $(document).ready( function() {
              $(':file').on('fileselect', function(event, numFiles, label) {
                  $('#upload').submit();
              });
          });
        });
    </script>

    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/js/bootstrap.bundle.min.js"
            integrity="sha384-MrcW6ZMFYlzcLA8Nl+NtUVF0sA7MsXsP1UyJoMp4YLEuNSfAP+JcXn/tWtIaxVXM"
            crossorigin="anonymous"></script>

</html>